USE [master]
GO
/****** Object:  Database [DBConcesionario]    Script Date: 24/02/2020 16:41:16 ******/
CREATE DATABASE [DBConcesionario]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBConcesionario', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.GONZACARRY\MSSQL\DATA\DBConcesionario.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBConcesionario_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.GONZACARRY\MSSQL\DATA\DBConcesionario_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBConcesionario].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBConcesionario]
GO
/****** Object:  User [Gonzalo]    Script Date: 24/02/2020 16:41:16 ******/
CREATE USER [Gonzalo] FOR LOGIN [Gonzalo] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Admin]    Script Date: 24/02/2020 16:41:16 ******/
CREATE USER [Admin] FOR LOGIN [Admin] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Cars]    Script Date: 24/02/2020 16:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars](
	[id_Cars] [nchar](36) NOT NULL,
	[Brand] [nvarchar](50) NOT NULL,
	[Headquarters] [nvarchar](50) NOT NULL,
	[Founder] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Cars] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Model]    Script Date: 24/02/2020 16:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Model](
	[id_Model] [nchar](36) NOT NULL,
	[ModelName] [nvarchar](50) NOT NULL,
	[Potency] [nvarchar](50) NOT NULL,
	[Color] [nvarchar](50) NOT NULL,
	[DoorsNumber] [int] NOT NULL,
	[id_Cars] [nchar](36) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Model] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 24/02/2020 16:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id_Users] [nchar](36) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PhoneNumber] [int] NOT NULL,
	[id_Cars] [nchar](36) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Users] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Model]  WITH CHECK ADD  CONSTRAINT [FK_CarModel] FOREIGN KEY([id_Cars])
REFERENCES [dbo].[Cars] ([id_Cars])
GO
ALTER TABLE [dbo].[Model] CHECK CONSTRAINT [FK_CarModel]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_CarUsers] FOREIGN KEY([id_Cars])
REFERENCES [dbo].[Cars] ([id_Cars])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_CarUsers]
GO
USE [master]
GO
